/* nav */
/* .nav-link{
 
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
   
}
a:hover {
    color: gold;
  }
/* fin nav */

/* footer */

/* .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
.container{
    width: 50%;
}
  .container p{
      text-align: center;
      font-size: 14px;
  }
  
  
  .item.social i{
    text-align:center;
    margin-top:20px;
    font-size: 20px;
    margin-right: 1%;
    color: aliceblue;
  }
  .item.social{
      margin-left: 48%;
  }
  .imgfooter{
  }
  .imgfooter img {
     width: 10%;
     margin-top: 2%;
  } */
 
/*   
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }

  
  
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;}  */

    /* fin footer */




    /* Index nav */
 .all{
        width: 60%;
        max-height: max-content;
        /* background-color: #FFFFFF; */
        background-color: #FFFFFF;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.nav img{
    margin-left: 440px;
}

/* fin nav index */

/* footer index */
.footer{
    width: 60%;
    padding:50px 0;
    color:#f0f9ff;
    margin: auto;
    background-color:#035D00;
  }
  .footer h1 {
      float: right;
      color: white;
      margin-right:13%;
      margin-top: 5%;
  }
  .footer img {
      margin-left: 8%;
  }

  .cards{
   margin: 50px;
   margin-left: 70%;
  }
  .cards2{
  margin-left: 15%;
   }

.allDining .content h2 {
    margin-top: 10%;
    color: white;

}
.allDining .content h1 {
    margin-top: 10%;
    color: white;

}

.B{
    background-color: white;
	height: 500px;
    border-radius: 5%;
    margin: auto;
}
a {
    text-decoration: none;
}
.C{
    background-color: white;
	height: 100px;
    border-radius: 8px;
    margin: auto;
    margin-top:20px;

}
#cd{
   padding-top: 30px;
}

.all2{
    width: 60%;
    height:1000px;
    background-color: #FFFFFF;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ///////////////////////// */

#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    width: 180px; 
  }
  
#menu-vertical li {
    position: relative;
    background:#EFEFEF; 
  }
  #menu-vertical a {
    display:block;
    text-decoration: none;
    color: #000;
  }
  #menu-vertical ul {
    position: absolute;
    left:-999em;
  }
  #menu-vertical li:hover ul {
    top: 0;
    left: 180px;
  }

  /* ///////////////// */
  #menu-accordeon {
    padding:0;
    margin-top: 2%;
    margin-left: 2%;
    list-style:none;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color:#C8C7C7;
    text-align: center;
    width: 180px;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
   
  }
  #menu-accordeon li {
     background-color:white; 
     /* border-radius: 6px; */
     margin-bottom:2px;
     /* box-shadow: 3px 3px 3px 3px  rgb(215, 216, 216); */
     border: none;
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: rgb(3, 63, 16);
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 6px 0;
    font-family: verdana;
    font-size:1.2em
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
  }
  #menu-accordeon li:hover {
     background: white
  }
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }
 
  #menu-accordeon h5{
      color: rgb(154, 163, 163);
  }
  .D{
    background-color:#035D00;
	height: 450px;
    border-radius: 5%;
    margin-top: -230%;
  
  }
  .circle{
      background-color: white;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      float: inline-end;
  }